<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.foundingfourfathers.alchemy" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomePage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasketPage"
            android:label="@string/title_activity_basket_page" >
        </activity>
        <activity
            android:name=".BrowseCocktailsPage"
            android:label="@string/title_activity_browse_cocktails_page" >
        </activity>
    </application>

</manifest>
