<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.foundingfourfathers.alchemy" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/alchemy_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomePage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SpinnerTest"
            android:label="Spinner Test" >
        </activity>
        <activity
            android:name=".BasketPage"
            android:label="Please Edit Your Basket" >
        </activity>
        <activity
            android:name=".ListViewExampleActivity"
            android:label="Please Edit Your Basket" >
        </activity>
    </application>

</manifest>
